@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#222222];
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 34, 34, 34;
}

body {
  color: rgb(var(--foreground-rgb));
}

.btn .arrow-symbol path:last-child,
.link .arrow-symbol path:last-child {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transition: stroke-dashoffset .2s;
}

.btn:focus .arrow-symbol path:last-child,
.btn:hover .arrow-symbol path:last-child,
.link:focus .arrow-symbol path:last-child,
.link:hover .arrow-symbol path:last-child {
  stroke-dashoffset: 20;
}

/* Maintaining similar style to original orange gradient */
.bg-radial-gradient {
  background-image: radial-gradient(73.15% 70.06% at 50% -10.9%, rgba(67, 204, 174, 0.70) 0%, #222222 100%);
}